html {
	@include box-sizing(border-box);
}

*,
*:before,
*:after {
	@include box-sizing(inherit);
}

body {
	font-family: $fuente_principal;
}

.contenedor {
	max-width: 1100px;
	margin: 0 auto;
}

.oculto {
	display: none;
}

.centrado {
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		padding: 1.4rem 0;
	}
}

.carrito-compras {
	position: relative;

	&:hover .contenido {
		display: block;
		position: absolute;
		right: 0;
		background-color: $gris;
		padding: 1rem;
		max-width: 400px;

		img {
			max-width: 150px;
		}

		.boton {
			@include boton($principal);
		}
	}
}

.hero {
	min-height: 24rem;
	background-size: cover;
	color: #ffffff;
	display: flex;
	align-items: center;
	@include background-imagen('../img/hero.jpg');

	.contenido-hero {
		flex: 1;

		h2 {
			font-weight: 400;
			font-size: 2.4rem;
		}

		p {
			font-size: 1.2rem;
		}

		form {
			position: relative;

			@include tablet() {
				width: 40%;
			}

			input[type="submit"] {
				position: absolute;
				right: 0;
				top: 0;
				@include background-imagen('../img/lupa.png');
				width: 3rem;
				height: 3rem;
				display: block;
				text-indent: -9999px;
				border: none;
				cursor: pointer;
			}

			input[type="text"] {
				width: 100%;
				height: 3rem;
			}
		}
	}
}

// Navbar
.barra {
	min-height: 6rem;
	padding: 1rem;
	@include gradiente($secundario, $terciario);
	color: $blanco;
	display: flex;
	align-items: center;

	.iconos {
		display: flex;
		flex-direction: column;
		flex: 1;

		@include desktop() {
			flex-direction: row;
		}

		.icono {
			flex: 1;
			background-position: 5% center !important;

			@include tablet {
				background-position: 20% center !important;
			}

			@include desktop {
				background-position: left center !important;
			}

			background-size: 2.4rem;
			text-align: center;

			&.icono1 {
				@include background-imagen('../img/icono1.png');
			}

			&.icono2 {
				@include background-imagen('../img/icono2.png');
			}

			&.icono3 {
				@include background-imagen('../img/icono3.png');
			}
		}
	}
}

// Courses
.cursos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.curso {
		.imagen-curso {
			width: 100%;
		}

		flex: 0 1 calc(50% - 1rem);
		border: 1px solid darken($gris, 10);
		margin-bottom: 1rem;

		@include tablet() {
			flex: 0 1 calc(33% - 1rem);
		}

		@include desktop() {
			flex: 0 1 calc(25% - 1rem);
		}

		.info-curso {
			padding: 1rem;
		}
	}
}

.info-curso {
	padding: 3rem;

	h4 {
		margin: 0;
		font-size: 1.2rem;
	}

	.precio {
		display: flex;
		justify-content: space-between;

		.regular {
			text-decoration: line-through;
			color: red;
		}

		.oferta {
			font-size: 1.6rem;
			font-weight: 700;
			color: green;
		}
	}

	.boton {
		@include boton($secundario);
	}
}

// Footer
.footer {
	border-top: 1px solid darken($gris, 10);
	margin-top: 1rem;
	padding-top: 2rem;

	.contenedor-footer {
		display: flex;
		flex-direction: column;

		@include movil() {
			flex-direction: row;
		}
	}
}

.menu {
	@include menus();
}
