// Buttons
@mixin boton($color) {
	background-color: $color;
	padding: .5rem 1rem;
	margin-top: 1rem;
	display: block;
	text-align: center;
	color: $blanco;
	text-decoration: none;
}

@mixin box-sizing($box-model) {
	box-sizing: $box-model;
}

@mixin background-imagen($imagen) {
	background-image: url($imagen);
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin gradiente($color1, $color2) {
	background: linear-gradient(to right, $color1 0%, $color2 100%);
}

// Media Queries
@mixin movil {
	@media screen and (min-width: #{$movil}) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: #{$tablet}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$desktop}) {
	@content;
	}
}

// Navigation Menus
@mixin menus(){
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	flex: 1;

	@include desktop() {
		flex: 0 1 calc(30% - 1rem);
	}

	a {
		color: $negro;
		text-decoration: none;
		margin-bottom: .5rem;
	}
}
