// Variables

// Fonts
$fuente_principal : 'Raleway', sans-serif;

// Colours
$principal: #33C3F0;
$secundario: #741d51;
$terciario: #e44e52;
$gris: #f2f2f2;
$blanco: #ffffff;
$negro: #000000;
// Variables for Media Queries Size
$movil: 480px;
$tablet: 768px;
$desktop: 1024px;
